// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.custom-main {
  padding-top: 10px;
}

.full-BGstrip {
  margin-top: 10px;
  // background-color:#F2F2F2;
}

.search__form {
  display: flex;
  align-items: end;
  column-gap: 20px;
}

.search__form > div {
  width: 35%;
}

#main-content > div.full-BGstrip.govuk-\!-margin-top-4 > div > form > div > button {
  margin-bottom: 23px;
}

.search__form .input-width {
  width: 20%;
}

.search__form #search-radius {
  width: 60%;
}

.search__form .govuk-form-group {
  margin-bottom: 10px;
}


.search__form .govuk-form-group {
  align-self: flex-end;

}

.search__popular .govuk-link {
  color: #0B0C0C;
  margin-right: 10px;
}

.govuk-form-group.autocomplete {
 position: relative;
}

#search-term__listbox {
  position: absolute;
}

#search-term {
  background-color: #ffffff;
}


.autocomplete__wrapper * {
  @include govuk-typography-common();
}

.moj-sub-navigation {
  margin-bottom: 20px;
}

#main-content > form > div > button {
 margin-bottom: 22px;
}


body > header > div > div.govuk-header__content {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: baseline;
  width: 60%;
}

// three boxes on home page


.govuk-card {
  height: 230px;
  border: 1px solid #B1B4B6;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .govuk-card {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}


.govuk-card--selectable {
  position: relative;
}

.govuk-card__content {
  padding-bottom: 0;
  padding-top: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-card__content {
    padding-top: 20px;
  }
}


.govuk-o-grid::after {
  clear: both;
  content: "";
  display: block;
}

// .govuk-card--selectable>a {
//   height: 100%;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 0;
// }

.govuk-card__content p {
  margin-bottom: 0;
}

// .govuk-card--selectable:hover {
//   background-color: #005ea5;
// }

.govuk-card--contained .govuk-card__content {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-card--contained .govuk-card__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

a:link:focus {
  color: #005798;
}

.govuk-\!-mb-r3 {
  margin-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
  .govuk-\!-mb-r3 {
    margin-bottom: 15px !important;
  }
}

.govuk-card--selectable>a:focus {
  background-color: initial !important;
}


//action link

.nhsuk-action-link__link {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.55556;
  padding-left: 38px;
  position: relative;
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .nhsuk-action-link__link {
    font-size: 22px;
    line-height: 1.45455;
  }
}

@media (max-width: 40.0525em) {
  .nhsuk-action-link__link {
    padding-left: 26px;
  }
}

a:visited {
  color: #4c2c92;
}


.nhsuk-action-link a:hover {
  text-decoration: underline;
  color: #003078;
}

a:active {
  color: #002f5c;
}


.nhsuk-action-link__link .nhsuk-icon__arrow-right-circle {
  fill: #28A197;
  height: 36px;
  left: -3px;
  position: absolute;
  top: -2px;
  width: 36px;
}

@media (max-width: 40.0525em) {
  .nhsuk-action-link__link .nhsuk-icon__arrow-right-circle {
    height: 24px;
    left: -2px;
    margin-bottom: 0;
    top: 2px;
    width: 24px;
  }
}

a:focus:hover {
  text-decoration: none;
}

a:focus:visited {
  color: #212b32;
}

#main-content > div > div > form > div {
  margin-bottom: 10px;
}

#main-content .govuk-summary-list__key {
  width: 50%;
}


body > header > div > div.govuk-header__logo > a > span:nth-child(2) {
  font-size: 1.4rem;
  line-height: 1;
  font-family: "GDS Transport", arial, sans-serif;
  font-weight: 400;
  display: inline-table;
}

body > header > div > div.govuk-header__logo {
  width: 39.99%;
}


.govuk-label {
  font-weight: 700;
}

.govuk-select {
  width: 100%;
}

#main-content > div.govuk-width-container.govuk-\!-margin-bottom-4 > form > div > button {
  margin-bottom: 13px;
}

.online-info .govuk-card {
  margin-bottom: 15px;
}

.online-info .nhsuk-action-link {
  margin-top: 90px;;
}