
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: "",
  navigation: [
    {
      href: "family-hub",
      text: "Family hub"
    },
    {
      href: "find-services-overview",
      text: "Services or groups",
      active: true
    },
    {
      href: "online-information-start",
      text: "Online information and advice"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m govuk-!-margin-bottom-2">Page 1 of 3</span>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Find local services and groups for children, young people and families 
      </h1>

      <p>Search here to find services and groups near you.</p>  
      <p>Depending on where you live, there may be different services and groups.</p>   

      <h2 class="govuk-heading-l">You could search for:</h2>
      <h2 class="govuk-heading-m">groups, classes and workshops, for example:</h2>


      <ul class="govuk-list govuk-list--bullet">
        <li>playgroups</li>
        <li>youth clubs</li>
        <li>special educational needs and disabilities (SEND) groups</li>
        <li>parenting workshops, in person or online</li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
        pregnancy, birth and postnatal services and support, for example:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>childbirth classes</li>
        <li>breastfeeding support</li>
        <li>baby weighing</li>
        <li>baby yoga</li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
        support and advice about caring for your child, for example about:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>feeding and eating</li>
        <li>health and vaccinations</li>
        <li>sleep </li>
        <li>toilet training </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
        child development support and advice, for example about: 
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>SEND</li>
        <li>behaviour</li>
        <li>mental health</li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
        help and advice for teenagers and young people, for example about:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>health and wellbeing</li>
        <li>staying safe online</li>
        <li>sex and relationships </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
        family and carer support, for example about:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>benefits and finances</li>
        <li>parenting and relationships</li>
        <li>mental health and wellbeing</li>
      </ul>
     

      <form action="find-services-group-or-activity" method="post">  

        {{ govukInput({
          label: {
            text: "Enter your postcode to find your nearest services and groups",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "postcode-services",
          name: "postcode-services",
          value: data['postcode-services']
        }) }}
  
  
        {{ govukButton({
          html: "Next"
        }) }}
  
    </form>

    </div>
  </div>




  
  
{% endblock %}






