
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: "",
  navigation: [
    {
      href: "family-hub",
      text: "Family hubs"
    },
    {
      href: "find-services-overview",
      text: "Services or groups",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="find-services-overview">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      What type of service would you like? (step 1 of 2)
    </h1>

    <!-- <span class="govuk-caption-m govuk-!-margin-bottom-2">Page 1 of 3</span> -->
    <form action="caring-for-your-child-sleep" method="post">  

    {{ govukRadios({
      idPrefix: "categories-of-services",
      name: "categories-of-services",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Pregnancy, birth and postnatal",
          text: "Pregnancy, birth and postnatal"
        },
        {
          value: "Caring for your child: sleep, food, health and more",
          text: "Caring for your child: sleep, food, health and more"
        },
        {
          value: "Child development, SEND, behaviour and mental health",
          text: "Child development, SEND, behaviour and mental health"
        },
        {
          value: "Teenagers and young people",
          text: "Teenagers and young people"
        },
        {
          value: "Family and carer support: relationships, money and more",
          text: "Family and carer support: relationships, money and more"
        },
        {
          value: "Groups, classes and workshops",
          text: "Groups, classes and workshops"
        }
      ]
    }) }}
 
  

    <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
      Continue
    </button>

    </form> 

    </div>
  </div>




  
  
{% endblock %}






