
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: "",
  navigation: [
    {
      href: "family-hub",
      text: "Family hubs",
      active: true
    },
    {
      href: "find-services-overview",
      text: "Services or groups"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Find a family hub 
      </h1>
        
      <p>If you want to meet other families and find out more about local family support services, your nearest 
        family hub or children’s centre can point you in the right direction.</p>  

      <p>There are family hubs all over England, run by local councils.</p>

      <p>Search here to find family hubs near you.</p>
       
      <form action="family-hub-results" method="post" novalidate data-validate='my-form-validation'>  
    
        {{ govukInput({
          label: {
            text: "Enter postcode",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "postcode-hub",
          name: "postcode-hub",
          classes: "govuk-input--width-10",
          value: data['postcode-hub']
        }) }}
  
  
        {{ govukButton({
          html: "Continue"
        }) }}
        
  
    </form>
    <p>As this service is new, not all family hubs will be listed. If there are no 
      family hubs listed in your area, you will be signposted to your council website.</p>

      {{ govukInsetText({
        text: "Some family hubs services are only available to local residents."
      }) }}

    <p>As this service is new, not all local authority services will be listed.</p>
    </div>
  </div>

  <script type="application/json" id="my-form-validation">
    {
      "postcode-hub": {
        "presence": {
          "message": "^You need to enter a postcode, like AA1 1AA"
        }
      }
    }
  </script>

{% endblock %}







