
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: "",
  navigation: [
    {
      href: "family-hub",
      text: "Family hubs"
    },
    {
      href: "find-services-overview",
      text: "Services or groups",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <span class="govuk-caption-m govuk-!-margin-bottom-2">Page 1 of 3</span> -->

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Find local services and groups for children, young people and families 
      </h1>

      <p>Search here to find services and groups near you.</p>

      <form action="find-services-group-or-activity" method="post">  

        {{ govukInput({
          label: {
            text: "Enter postcode",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "postcode-services",
          name: "postcode-services",
          classes: "govuk-input--width-10",
          value: data['postcode-services']
        }) }}
  
  
        {{ govukButton({
          html: "Search"
        }) }}
  
      </form>  

      <p>Depending on where you live, there may be different services and groups, for example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>groups, classes and workshops, like playgroups, youth clubs or parenting workshops</li>
      <li>pregnancy, birth and postnatal services, like breastfeeding support or childbirth classes</li>
      <li>support and advice about caring for your child, for example about sleep, feeding or toilet training</li>
      <li>child development support and advice, for example about special educational needs and disabilities (SEND), behaviour or mental health</li>
      <li>help for teenagers and young people, for example about health, sex or staying safe online</li>
      <li>support for families and carers, for example on money, relationships or mental health</li>
    </ul>


    </div>
  </div>




  
  
{% endblock %}






