
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: "",
  navigation: [
    {
      href: "family-hub",
      text: "Family hubs"
    },
    {
      href: "find-services-overview",
      text: "Services or groups",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="home">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <span class="govuk-caption-m govuk-!-margin-bottom-2">Page 1 of 3</span> -->

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Find services or groups 
      </h1>
      <p>Services and groups run at different places, like family hubs, children’s centres, community centres and health clinics.</p>
      <p>Search here for support from services and groups, such as:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>special educational needs and disabilities (SEND) support</li>
      <li>youth clubs for teenagers and young people</li>
      <li>help for parents and carers</li>
      <li>pregnancy, birth, postnatal and early years support</li>
    </ul>

    <p>Services and groups run at different places, like family hubs, children’s centres, community centres and health clinics.</p>

    <!-- <p>If there are no services or groups listed in your area, you will be signposted to your council website.</p>  -->

    <form action="categories-of-services" method="post" novalidate data-validate='my-form-validation'>  

      {{ govukInput({
        label: {
          text: "Enter postcode",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: "postcode-services",
        name: "postcode-services",
        classes: "govuk-input--width-10",
        value: data['postcode-services']
      }) }}


      {{ govukButton({
        html: "Continue"
      }) }}

    </form> 
    <!-- <p>As this service is new, not all local authority services will be listed.</p> -->
    <p>As this service is new, not all local authority services will be listed. 
      If there are no services or groups listed in your area, you will be signposted to your council website.</p>

      {{ govukInsetText({
        text: "Some services are only available to local residents."
      }) }}
    </div>
  </div>

  <script type="application/json" id="my-form-validation">
    {
      "postcode-services": {
        "presence": {
          "message": "^You need to enter a postcode, like AA1 1AA"
        }
      }
    }
  </script>
  
{% endblock %}






