
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: "",
  navigation: [
    {
      href: "family-hub",
      text: "Family hubs"
    },
    {
      href: "find-services-overview",
      text: "Services or groups",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">No results found</h1>
      <p class="govuk-!-margin-bottom-4">Sorry, there are no results for <a href="categories-of-services" class="govuk-link">{{ data['what-type-of-services'] }}</a> in <a href="find-services-overview" class="govuk-link">{{ data['postcode-services'] }}</a> listed yet.</p>
      <!-- <span class="govuk-caption-m govuk-!-margin-bottom-4"><a href="find-services-overview" class="govuk-link">{{ data['postcode-services'] }}</a> <br> <a href="categories-of-services" class="govuk-link">{{ data['what-type-of-services'] }}</a><br> <a href="categories-of-services" class="govuk-link">{{ data['subcategories'] }}</a></span> -->
      
    

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">You can:</p>
          <ul class="govuk-list">
            <li>
              search again with another postcode 
            </li>
            <li>
              search for another service or group 
            </li>
            <li>
              <a href="https://www.gov.uk/find-local-council" class="govuk-link">check your council’s website </a>for your local family support services and groups
            </li>
          </ul>
        </div>
      </div>

      <form action="categories-of-services" method="post">  

      {{ govukInput({
        label: {
          text: "Enter postcode",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: "postcode-services",
        name: "postcode-services",
        classes: "govuk-input--width-10",
        value: data['postcode-services']
      }) }}

      {{ govukButton({
        html: "Search again"
      }) }}

  
      </form>

    
      <!-- <p class="govuk-body" style="display: inline-block;">You can also <a href="https://www.gov.uk/find-local-council" class="govuk-link">check your council’s website </a> for your local family support services and groups.</p> -->

    </div>
  </div>
{% endblock %}






