
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}



{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Family hubs support families, children and young people by bringing together local services all in one place
      </h1>

      <p>All families in England can get services, support and advice, from pregnancy through to young adulthood, from a local family hub.</p>      

    </div>
  </div>


  <div class="full-BGstrip govuk-!-margin-top-4">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m">Find support for families, children or young people</h2>

          <form action="support-for-families-results" method="post">
            <div class="search__form">  
                <div class="govuk-form-group autocomplete">
                  <label class="govuk-label govuk-label--s" for="search-term">
                    Search term
                  </label>
                  
                  <select class="govuk-select" id="search-term" name="search-term">
                    <option value="sleep" selected></option>
                    <option value="Causes of Sleep disorder">Causes of Sleep disorder</option>
                    <option value="Children Sleep Disorder">Children Sleep Disorders</option>
                    <option value="Sleep problems in young children">Sleep problems in young children</option>
                  </select>
                </div>

                <div>
                  {{ govukInput({
                    label: {
                      text: "Enter your town, county or postcode",
                      classes: "govuk-label--s",
                      isPageHeading: false
                    },
                    classes: "govuk-input--width-20",
                    id: "postcode",
                    name: "postcode",
                    value: ""
                  }) }}
                </div>

              {{ govukButton({
                html: "Search"
              }) }}

            </div>  <!-- end of app-search-form-inner -->
          </form>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Popular searches:</h3>
      <div class="search__popular">
        <a class="govuk-link" href="#">Toddler groups</a>
        <a class="govuk-link" href="#">Breastfeeding</a>
        <a class="govuk-link" href="#">Healthy eating</a>
        <a class="govuk-link" href="#">Single parents</a>
        <a class="govuk-link" href="#">Babies</a>
        <a class="govuk-link" href="#">Teenagers</a>
      </div>
      
    </div>
  </div>


  <div class="govuk-!-margin-top-6 govuk-!-padding-top-4 govuk-!-padding-bottom-top-4 govuk-!-padding-left-4 govuk-!-padding-right-4">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m">Find your nearest family hub or children’s centre</h2>

      <form>
        <div class="app-search-form-inner">
           
          <div>
            {{ govukInput({
              label: {
                text: "Enter your town, county or postcode",
                classes: "govuk-label--s",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "event-name",
              name: "event-name",
              value: ""
            }) }}
          </div>

          {{ govukButton({
            text: "Search"
          }) }}

        </div>
      </form>

    </div>
  </div>

  <div class="govuk-grid-row">
    <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-heading-m govuk-!-margin-bottom-4 govuk-!-padding-left-6 govuk-!-padding-right-4">
      Get advice on common topics
    </h2>

    <div class="govuk-grid-column-one-third govuk-!-padding-left-6 govuk-!-padding-right-6"">
      <a href="#" class="govuk-link govuk-body">Pregnancy, birth and postnatal</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link govuk-body">Caring for your child: sleep, food, health and more</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link govuk-body">Child development, behaviour and mental health </a>
    </div>   
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third govuk-!-padding-left-6 govuk-!-padding-right-6">
      <a href="#" class="govuk-link govuk-body">Special educational needs and disabilities (SEND)</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link govuk-body">Teenagers and young people</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link govuk-body">Family support: relationships, money and more</a>
    </div>   
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third govuk-!-padding-left-6 govuk-!-padding-right-6">
      <a href="#" class="govuk-link govuk-body">Show all topics</a>
    </div>   
  </div>

  
  
{% endblock %}






