
{% extends "layout-pre-mvp.html" %}
{% set mainClasses = "custom-main" %}
{% set bodyClasses = "dfe-template__body" %}



{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service, your <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3aXYQWE1MKuhSya">feedback</a> will help us improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
 
<div class="full-BGstrip">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2">Cookies</h1>
    

      <p>
        This service puts small files (known as 'cookies') onto your computer. These cookies are used to:
      </p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>help us understand how you use the website, so we can make improvements</li>
        <li>remember what notifications you've seen, so you're not shown them more than once</li>
        <li>temporarily store the selections you make</li>
      </ul>

      <p>Find out more about <a href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies</a>.</p>

      <h2 class="govuk-heading-m">Essential cookies (strictly necessary)</h2>

      <p>
        We use an essential cookie to remember when you accept or reject cookies on our website.
      </p>

        
      {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Essential cookies we use",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Purpose",
            classes: 'govuk-!-width-one-half'
          },
          {
            text: "Expires",
            classes: 'govuk-!-width-one-half'
          }
        ],
        rows: [
          [
            {
              text: "service_directory_cookies_policy"
            },
            {
              text: "Saves your cookie consent settings"
            },
            {
              text: "1 year"
            }
          ],
          [
            {
              text: "ai_user"
            },
            {
              text: "Used by Microsoft Application Insights software to collect statistical usage and telemetry information. 
              The cookie stores a unique identifier to recognise users on returning visits over time"
            },
            {
              text: "1 month"
            }
          ],
          [
            {
              text: ".AspNetCore.Antiforgery.[random number]"
            },
            {
              text: "Used to make the site more secure by preventing Cross-Site Request Forgery attacks"
            },
            {
              text: "With the session"
            }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>

      <p>
        We use Google Analytics software (Universal Analytics) to collect anonymised information 
        about how you use the service. We do this to help make sure the service is meeting 
        the needs of its users and to help us make improvements.
      </p>

      <p>
        We do not allow Google to use or share the data about how you use this service.
      </p>

      <p>
        Google Analytics stores information about:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how you got to the service</li>
        <li>the pages you visit on this service and how long you spend on them</li>
        <li>what you click on while you're visiting the service</li>
      </ul>

      <p>
        We may also set our own cookies to understand how people move through the service.
      </p>

      {% from "govuk/components/table/macro.njk" import govukTable %}
      {{ govukTable({
        caption: "Analytics cookies we use",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Purpose",
            classes: 'govuk-!-width-one-half'
          },
          {
            text: "Expires",
            classes: 'govuk-!-width-one-half'
          }
        ],
        rows: [
          [
            {
              text: "_ga"
            },
            {
              text: "Used by Google Analytics to distinguish users"
            },
            {
              text: "2 years"
            }
          ],
          [
            {
              text: "_ga_[random number]"
            },
            {
              text: "Used by Google Analytics to persist session state"
            },
            {
              text: "2 years"
            }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-m">Change your cookie settings</h2>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "Do you want to accept analytics cookies?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save cookie settings"
      }) }}
      
    
      </div>
    </div>
  </div>

  


  
{% endblock %}






