{% extends "layout-pre-mvp.html" %}
{% set mainClasses = "custom-main" %}
{% set bodyClasses = "dfe-template__body" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service, your <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3aXYQWE1MKuhSya">feedback</a> will help us improve it.'
  }) }}
  <a class="govuk-back-link" href="results">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Be Open On Breastfeeding in Salford</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          Parent, baby and toddler groups
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost
        </dt>
        <dd class="govuk-summary-list__value">
          £2 every session
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery method
        </dt>
        <dd class="govuk-summary-list__value">
          In person
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age range
        </dt>
        <dd class="govuk-summary-list__value">
          0 to 5
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Languages
        </dt>
        <dd class="govuk-summary-list__value">
          English
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">More details</h2>
    <p>
      Supporting mums on their breastfeeding journey in Salford and Bury
      We empower women to be open about their breastfeeding experiences and 
      inspire others to breastfeed for longer. We have been supporting mums on 
      their breastfeeding journeys since 2014 and we believe that every mum 
      should have the chance to have a happy, safe and comfortable breastfeeding journey.
    </p>
    
  </div>



</div>
{% endblock %}
