{% extends "layout-pre-mvp.html" %}
{% set mainClasses = "custom-main" %}
{% set bodyClasses = "dfe-template__body" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service, your <a href="#">feedback</a> will help us improve it.'
  }) }}
  <a class="govuk-back-link" href="results">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Central Family Hub, Salford</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          Parent, baby and toddler groups
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cost
        </dt>
        <dd class="govuk-summary-list__value">
          £2 every session
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery method
        </dt>
        <dd class="govuk-summary-list__value">
          In person
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age range
        </dt>
        <dd class="govuk-summary-list__value">
          0 to 5
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Languages
        </dt>
        <dd class="govuk-summary-list__value">
          English
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">More details</h2>
   <p>Salford Family Partnership Hubs are places in your local community offering services and support for families from different agencies in one building.</p>
   <p>Services include, Antenatal, Child’s Health, Early Help, Play Sessions, Parenting support, and more.</p>
    
    <p>Salford Partnership Family Hubs are where our locality teams are based.</p>
    <p>Locality teams bring together a range of agencies through joined-up working processes including Early Help Assessment and Team Around the Family (TAF).</p>
    
    <p>Each locality team is made up of staff from various professional backgrounds including Early Help Practitioners and Parenting Practitioners.</p>
    
    <p>Early Help Practitioners are based at your local hub and are there to support families. We use the evidence-based Salford Family Partnership Model to help you achieve positive outcomes.</p>
    <p>We offer advice on child health, managing behaviour, sleep issues, feeding and more. We work closely with other services and additional support can be offered with issues such as housing, finances, relationships and wellbeing.</p>
 
  </div>



</div>
{% endblock %}
