
{% extends "layout-pre-mvp.html" %}
{% set mainClasses = "custom-main" %}
{% set bodyClasses = "dfe-template__body" %}



{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service, your <a href="https://fh-family-experience-prototyp.herokuapp.com/pre-mvp/home#">feedback</a> will help us improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
 
<div class="full-BGstrip">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2cc">Disclaimer</h1>
    

      <p>Text placeholder</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
      </ul>

    
      </div>
    </div>
  </div>

  


  
{% endblock %}






