
{% extends "layout-pre-mvp.html" %}
{% set mainClasses = "custom-main" %}
{% set bodyClasses = "dfe-template__body" %}

{% block bodyStart %}
  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
  {% set html %}
    <p class="govuk-body">We use some essential cookies to make this service work.</p>
    <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
  {% endset %}
  {{ govukCookieBanner({
    ariaLabel: "Cookies on Find support for your family",
    messages: [
      {
        headingText: "Cookies on Find support for your family",
        html: html,
        actions: [
          {
            text: "Accept analytics cookies",
            type: "button",
            name: "cookies",
            value: "accept",
            classes: "btn"
          },
          {
            text: "Reject analytics cookies",
            type: "button",
            name: "cookies",
            value: "reject",
            classes: "btn"
          },
          {
            text: "View cookies",
            href: "cookies"
          }
        ]
      }
    ]
  }) }}
{% endblock %}



{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service, your <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3aXYQWE1MKuhSya">feedback</a> will help us improve it.'
  }) }}
{% endblock %}


{% block content %}
 
<div class="full-BGstrip">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2cc">Find support for your family</h1>
    

      <p>You can find help, services and activities in your local area, including:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>activities for babies, toddlers, young people, parents and carers</li>
        <li>support for parents and carers, such as with children's health, care and development</li>
        <li>support with special educational needs and disabilities (SEND)</li>
        <li>help with mental health, relationships, money, housing or family life</li>
      </ul>

      <p>You can find specific types of support and search for all kinds of family services and activities run by different organisations.</p>
      <p>You will also be able to find your nearest family hub. They offer general 
        family services and activities in your local area, and are a great place to start looking.</p>
      


      {{ govukButton({
        text: "Start now",
        href: "enter-postcode",
        isStartButton: true
      }) }}
      


      </div>
    </div>
  </div>

  


  
{% endblock %}






