
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: ""
}) }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
{% endblock %}


{% block content %}
 
<div class="full-BGstrip">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find local family support</h1>
      
      <h2 class="govuk-heading-m">Find your nearest family hub, groups and services</h2>

      <p>Using this service, you can find your nearest family hub. Family hubs are welcoming places 
        where you can drop in and find a wide range of local support, groups and services in one 
        place for the whole family. If you’re looking for general family services and activities 
        near you, family hubs are a good place to start.</p> 


      <p>If you’re looking for a specific type of support or activity, you can also search here for 
        all kinds of family services run by different family hubs and organisations near you.</p>

  
      <h2 class="govuk-heading-m">Who can use this service</h2>

      <p class="govuk-body">This service is available across England for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>babies</li>
        <li>children</li>
        <li>young people up to age 19 (up to 25 with SEND)</li>
        <li>parents and carers</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "enter-postcode",
        isStartButton: true
      }) }}
      

      <p>As this service is new, not all local authority services will be listed. 
        If there are no family hubs, services or groups listed in your area, 
        you will be signposted to your council website.</p>

      <p>Some services are only available to local residents.</p>

      </div>
    </div>
  </div>

  


  
{% endblock %}






