
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: ""
}) }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
{% endblock %}


{% block content %}
 
<div class="full-BGstrip">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find local family support</h1>
      <p>Using this service you can find your nearest family hub as well as other support services in the local area.</p>

      <h2 class="govuk-heading-m">Family hubs</h2>

      <p>Family hubs are welcoming places to go that bring together a wide range of local support, 
        groups and services in one place for the whole family. If you’re looking for general family 
        services and activities near you, family hubs are a good place to start. You can drop in, 
        meet other families and find out what’s available in your area.</p> 

      <h2 class="govuk-heading-m">Finding help with something</h2>

      <p>If you’re looking for a specific type of support or group, you can also search here for all 
        kinds of family services that run across different family hubs and other clinics and community 
        centres near you. Examples of services and groups you can search for include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>help with child development</li>
        <li>groups and classes for babies, toddlers, young people, parents and carers</li>
        <li>support for parents and carers, such as with infant feeding</li>
        <li>children’s health clinics</li>
        <li>classes and workshops</li>
        <li>support for special educational needs and disabilities (SEND)</li>
        <li>mental health support</li>
        <li>help with relationships</li>
      </ul>

      <h2 class="govuk-heading-m">Family hubs, services and groups are available for:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>babies</li>
        <li>children</li>
        <li>young people up to age 19 (up to 25 with SEND)</li>
        <li>parents and carers</li>
      </ul>

      <p>As this service is new, not all local authority services will be listed.</p>


        <form action="categories-of-services" method="post" class="search__form_2">  

          {{ govukInput({
            label: {
              text: "Enter postcode",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            id: "postcode-services",
            name: "postcode-services",
            classes: "govuk-input--width-10",
            value: data['postcode-services']
          }) }}
    
          {{ govukButton({
            html: "Search"
          }) }}
    
        </form> 

        <div class="govuk-inset-text govuk-!-margin-top-0">
          Some family hubs services are only available to local residents.
        </div>

      </div>
    </div>
  </div>

  


  
{% endblock %}






