
{% extends "layout.html" %}
{% set mainClasses = "custom-main" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "",
  serviceUrl: ""
}) }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
{% endblock %}


{% block content %}
 
<div class="full-BGstrip">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find local family support</h1>
      <p>Using this service, you can find your nearest family hub as well as other support services in your area.</p>

      <h2 class="govuk-heading-m">Find your nearest family hub</h2>

      <p>Family hubs are welcoming places to go that bring together a wide range of local support, 
        groups and services in one place for the whole family. If you’re looking for general family 
        services and activities near you, family hubs are a good place to start. You can drop in, 
        meet other families and find out what’s available in your area.</p> 

      <h2 class="govuk-heading-m">Search for a group or service</h2>

      <p>If you’re looking for a specific type of support or group, you can also search here for all 
        kinds of family services run by different family hubs and organisations near you. 
        
        <h2 class="govuk-heading-m">What you can look for</h2>

        <p class="govuk-body">Examples of support you can find include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>groups and classes for babies, toddlers, young people, parents and carers</li>
        <li>support for parents and carers, such as with children's health, care and development</li>
        <li>support for special educational needs and disabilities (SEND)</li>
        <li>help with mental health, relationships, money or family life</li>
      </ul>

      <form action="categories-of-services" method="post" class="search__form_2">  

        {{ govukInput({
          label: {
            text: "Enter postcode",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "postcode-services",
          name: "postcode-services",
          classes: "govuk-input--width-10",
          value: data['postcode-services']
        }) }}
  
        {{ govukButton({
          html: "Search"
        }) }}
  
      </form> 

      <h2 class="govuk-heading-m">Who can use this service</h2>
      
      <p class="govuk-body">This service is available across England for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>babies</li>
        <li>children</li>
        <li>young people up to age 19 (up to 25 with SEND)</li>
        <li>parents and carers</li>
      </ul>

      <!-- <p>As this service is new, not all local authority services will be listed.</p> -->



      <p>
        As this service is new, not all local authority services will be listed. If there are no family hubs, 
        services or groups listed in your area, you will be signposted to your council website.
      </p>

      <p>
        <p>Some services are only available to local residents.</p>
      </p>

      </div>
    </div>
  </div>

  


  
{% endblock %}






